%h3 Products

%ul#products{style: 'list-style:none;margin:0;'}
  - 3.times do |i|
    %li{id: "product-#{i}", style: 'overflow:hidden;'}
      %form{:'ng-init' => "newCartItem#{i}.variant_id = #{i}; newCartItem#{i}.name = 'Product #{i}'", id: "prod_#{i}"}
        / %input{type: 'hidden', :'ng-model' => "newCartItem#{i}.variant_id"}
        %img{src: '/assets/GIOGFAL001-thumb.jpg', style: 'float:left;margin:0 20px 20px 0'}
        .details
          %h4= "Product #{i}"
          %p A really cool product
          / %button{type: 'button', :'ng-click' => 'addItem()'} Add to Cart
          %input{type: 'submit', value: 'Add to Cart', :'ng-click' => "addItem(newCartItem#{i}); showPopver()"}