!!!
%html{:'ng-app' => 'CartWidget'}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags
  %body{:'ng-controller' => 'CartController'}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
          
    %main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer

    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"}
    = javascript_include_tag "application"
    